.container{
  display: grid;
  grid-template-columns:1fr 1fr  ;
  grid-auto-rows:minmax(50px,auto) ;
  grid-gap:10px ;
  justify-content: row;
  align-content:start;
  align-items: row;
}

.item{
  border: 1px solid black;
  padding: 15px;
  font-size: 30px;
}
.item_5{
grid-column-start: 1 ;
grid-column-end: 3;
}